<div class="page-header">
  <h1>Tic-Tac-Toe</h1>
</div>
<div class="board">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>x</td>
        <td>x</td>
        <td>x</td>
      </tr>
      <tr>
        <td>x</td>
        <td>x</td>
        <td>x</td>
      </tr>
      <tr>
        <td>x</td>
        <td>x</td>
        <td>x</td>
      </tr>
    </tbody>
  </table>
</div>
